h2 {
  color: blue;
  font-style: oblique;
}
p {
  color: red;
}
img {
  width: 400px;
  height: 400px;
}

nav {
  background-color: green;
  padding: 20px;
}
ul {
  list-style: none;

}
li {
  display: inline;
  padding: 15px;
}
